
<% page_articles[0...1].each_with_index do |article, i| %>
  <h2><%= link_to article.title, article %></h2>
  <p><time><%= article.date.strftime('%b %e, %Y') %></time></p>
  <%= article.body %>
<% end %>
