<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/images/favicon.png" rel="shortcut icon">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <style>
      body {
        padding-top: 60px;
        padding-bottom: 60px;
      }
    </style>
    <link href="/stylesheets/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <link href="/stylesheets/syntax.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/stylesheets/custom.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>

          <a class="brand" href="/">CodeOfficer.com</a>

          <div class="nav-collapse collapse navbar-responsive-collapse">
            <ul class="nav">
              <% content_tag :li, :class => nav_active('index.html') do %>
                <%= link_to 'Home', '/index.html' %>
              <% end %>
              <% content_tag :li, :class => nav_active('archive.html') do %>
                <%= link_to 'Archive', '/archive.html' %>
              <% end %>
            </ul>
            <ul class="nav pull-right social-icons">
              <li><a class="google" href="https://plus.google.com/105488422714884256476" title="Google+">Google+</a></li>
              <li><a class="twitter" href="http://twitter.com/codeofficer" title="Twitter">Twitter</a></li>
              <li><a class="github" href="https://github.com/codeofficer" title="GitHub">GitHub</a></li>
              <li><a class="rss" href="/feed.xml" title="RSS">RSS</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-526530-11']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>

  </body>
</html>
